td, th {
  border: 1px solid;
}
  
body {
  font-family: Helvetica, sans-serif;
  background-image: url("../images/space.jpg");
  background-size: cover;
  background-position: center;
  color: #333;
  margin: 20px;
}

#main-title { /*centers title*/
  text-align: center;
  text-shadow: 0 0 7px #FFA400; /*makes text glow orange*/
  color: white;
  margin-bottom: 10px;
  font-size: 37px;
}

.subtitle { /*centers subtitle*/
  text-align: center;
  text-shadow: 0 0 7px #FF0000; /*makes text glow red*/
  color: white;
  margin-bottom: 15px;
  font-size: 27px;
}

#planets {
  width: 100%;
  border-collapse: collapse;
  background-color: rgba(255, 255, 255, 0.9); /*makes cells slightly transparent*/
  color: #333;
  box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5); /* adds a shadow to the table */
  margin: 20px 0;
}

#planets th, #planets td {
  border: 1px solid #ccc; /* adds a light gray border around each cell.*/
  padding: 12px;
  text-align: center; /*centers text*/
}

#planets th {
  background-color: #2980b9; /*sets a light blue background color for table header.*/
  color: white;
  font-style: italic;
}

#planets img {
  width: 200px; /* changes size of images */
  height: auto; /*fixes aspect ratio*/
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5); /*makes it look like images have drop shadow*/
}

#planets tr:nth-child(even) {
  background-color: #ecf0f1; /*set a light gray background for every even row.*/
}

#planets td:hover {
  background-color: #bdc3c7; /*set a gray background when hovering over a row.*/
  transition: background-color 0.3s ease-in-out; /*fades in the hover*/
}

td {
  font-size: 15px; /*adjusts font size*/
}

sup {
  font-size: 0.8em; /*adjusts superscript font size*/
}

  